.table-cont-container {
  padding: 5px;
  width: 80%;
}
.table-cont-header {
  background-color: #4e6180;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  text-align: left;
}

/* all links within the class */
.table-cont-header a{
  color: #ffffff ;  
}
.table-cont-header a:hover{
  color: #ececec ;  
  text-decoration: none;
}


.table-cont-row {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.action_column{
  width: 50px;
}

.table_border_margin_cust{
  margin-top: 0px;
  margin-bottom: 5px;  
}

