<html>
{% include "base_head.html" %}

{% block content %}

<body>
<div class="container-fluid">
{% if errors %}
<div class="alert alert-danger mt-1">
    <strong>Oops! There was an error:</strong>
    <ul>
        {% for error in errors %}
                <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<br>

<form method="POST" onsubmit="assessment_submit_form(event, this);">
    {% csrf_token %}
    {% for question  in questions_assessment_test.all  %}

        {% include "question/_question_render.html" %} 

    {% endfor %}
    <input type="submit" class="btn btn-default" value="Post Results">

</form>

<a
class="btn btn-default" onclick="check_close_window();">Back</a>


{% endblock content %}
</div>
</body>
</html>





