{% extends "base.html" %}

{% block content %}

<div>
    <h2>Delete Question Id {{question_context.question_id}} ?</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
    
        {% comment %} return to details page with same ID as trying to delete {% endcomment %}
        <a class="btn btn-primary" href="{% url 'questions_app:question_detail_url' pk=question_context.question_id %}">Back</a>
    </form>

</div>


{% endblock %}
