{% extends "base.html" %} {% block content %}


<div class="table-responsive">
  <table id="myTable" class="table table-bordered">
    <thead>
      <tr class="table-cont-header">
        <th>Date Created</th>
        <th>Description</th>
        <th>Difficulty</th>
        <th>Subject</th>
        <th>Active</th>
        <th class="action_column">action</th>
      </tr>
    </thead>
    <tbody>
      <td></td>
      <td class="action_column"></td>
    </tbody>
  </table>
</div>

<a
  class="btn btn-default"
  href="{% url 'questions_app:question_create_url' %}"
  >Create Question</a>


{% endblock %} 

{% block javascript %}
<script>
  //Initializing table API for every table with same ID
  $(document).ready(function () {
    $("#myTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: "{% url 'questions_app:question_list_json_url' %}",
      columns: [
        { data: "date_created" , width: '150px' }, 
        { data: "description" }, 
        { data: "difficulty_name" }, 
        { data: "subject_name" },
        { data: "active" },
        { data: "action" },      
      ],
      columnDefs: [ 
        //disables sorting for specific columns
        {orderable: false, targets: [1,4,5] }, 
        {searchable: false, targets: [2,3,4,5] }
      ]
    });
  });
</script>

{% endblock %}
