{% extends "blog_app/base.html" %}

{% block content %}
<div class="centerstage">
    <!--looping context from the post list view, custom name -->
    {% for post in post_list %}

    <div class="post">
        <h1> <a href="{% url "blog_app:post_detail_url" pk=post.post_id %}"> {{post.title}} </a>   </h1>

        <div class="date">
            <p>Published on : {{post.published_date|date:"D M Y"}}</p>
        </div>

    <a href="{% url "blog_app:post_detail_url" pk=post.post_id %}">Comments: {{post.approved_comment.count}}</a>

    </div>

    {% endfor %}


</div>

{% endblock  %}

