{% extends "base.html" %} {% block content %}


<div class="table-responsive">
  <table id="myTable" class="table table-bordered">
    <thead>
      <tr class="table-cont-header">
        <th>Date Created</th>
        <th>Answer Content</th>
        <th>Is Correct</th>
        <th>Active</th>
        <th>Question</th>
        <th class="action_column">action</th>
      </tr>
    </thead>
    <tbody>
      <td></td>
      <td class="action_column"></td>
    </tbody>
  </table>
</div>

<a
  class="btn btn-default"
  href="{% url 'questions_app:answer_create_url' %}"
  >Create Answer</a>


{% endblock %} 

{% block javascript %}
<script>
  //Initializing table API for every table with same ID
  $(document).ready(function () {
    $("#myTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: "{% url 'questions_app:answer_list_json_url' %}",
      columns: [{ data: "date_created" }, 
        { data: "answer_html_text" }, 
        { data: "correct_answer" }, 
        { data: "active" }, 
        { data: "question_answer" },
        { data: "action" },      
      ],
      columnDefs: [ 
        //disables sorting for specific columns
        {orderable: false, targets: [1,2,3,4,5] }, 
        {searcheble: false, targets: [2,3,4,5] }
      ]
    });
  });
</script>

{% endblock %}
