{% extends "base.html" %}

{% block content %}


<div class="container col-xs-12">

    {% if answer_form.errors %}
    <div class="alert alert-danger mt-1">
        <strong>Oops! There was an error:</strong>
        <ul>
            {% for field in answer_form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            
            {% if answer_form.non_field_errors  %}
                {{answer_form.non_field_errors}}     
            {% endif %}

        </ul>
    </div>
    {% endif %}

    <h2>Create Answer</h2>

    
    <form method="POST">
        {% csrf_token %}

        {# {% bootstrap_form customuser_form error_types="none" layout='inline' %} #}
        {% for field  in answer_form  %}
        <p> 
        <label for="{{ field.id_for_label }}">
            

            {{ field.label }} {{field}}
            {{ form.media }} {# this is required for load tinyMCE #}
        </label>
        </p>                  
        {% endfor %}        

        {% if is_update  %}
        <input type="submit" class="btn btn-default" value="Update">
        {% else %}
        <input type="submit" class="btn btn-default" value="Create">
        {% endif %}

        <a href="{% url 'questions_app:question_detail_url' pk=question_context.question_id %}" class="btn btn-default">Back</a>

    </form>

</div>



{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function(){
        //iterateble fields get naming from model class starting with id_<<class_attribute>>
        new DateTime(document.getElementById('id_date_created'), {
            format: 'DD-MM-YYYY HH:mm'
        });        
    }
    )


</script>

{% endblock javascript %}
