<!-- no neex to EXTEND any other file as this is injected with INCLUDE -->
<!-- Pagination footer to be implemented in every table page.-->
<ul class="pagination table_border_margin_cust">
    <li>
      {% if page_obj.has_previous %}
        <li>
          <a href="?page=1{% if request.GET.orderby %}&orderby={{ request.GET.orderby }}{% endif %}">
            &laquo; first
        </a></li>
        <li>
          <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.orderby %}&orderby={{ request.GET.orderby }}{% endif %}">
            previous            
        </a></li>
        
      {% else %}
        <li class="disabled"><span>&laquo; first</span></li>
        <li class="disabled"><span>previous</span></li>
      {% endif %}
  
      <li class="active">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span> 
      </li>
  
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}{% if request.GET.orderby %}&orderby={{ request.GET.orderby }}{% endif %}">next</a></li>
        <li><a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.orderby %}&orderby={{ request.GET.orderby }}{% endif %}">last &raquo;</a></li>
      
      {% else %}
        <li class="disabled"><span>next</span></li>
        <li class="disabled"><span>last &raquo;</span></li>
    
      {% endif %}
    </li>
  </ul>

