<!DOCTYPE html>
{% load static %}

{# to import custom {} tags into all pages#. Needs to be loaded in every page used #}
{% load user_auth_tags %}

<html>
{% include "base_head.html" %}
<body>


<div class="container-fluid">
  
  <div class="row"> 
  
    <!-- Sidebar -->
    <div class="container-fluid">
    <div class="col-xs-12 col-md-2 custom_offset_row sidebar" id="sidebar_1">
      {% if user.is_authenticated %}
      <ul class="nav nav-pills nav-stacked" id="sidebar_1">
        <li><a href="{% url 'index_url' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>

        {% has_role_from_list user.roles.all "student_role" as is_student %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test Content <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu dropdown_cust1">
            {% if not is_student  %}
            <li role="presentation"><a role="menuitem" href="{% url 'questions_namespace:difficulty_list_url' %}">Difficulty</a></li>
            <li role="presentation"><a role="menuitem" href="{% url 'questions_namespace:subject_list_url' %}">Subject</a></li>
            <li role="presentation"><a role="menuitem" href="{% url 'questions_namespace:question_list_url' %}">Question</a></li>       
            
            {% endif %}
            <li class="divider"></li>
            <li role="presentation"><a role="menuitem" href="{% url 'questions_namespace:assessment_list_url' %}">Assessments</a></li>
          </ul>
        </li>

        <!-- custom template tag, to check roles from users  -->      
        {% has_role_from_list user.roles.all "admin_role" as is_admin %}
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Tools<b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu dropdown_cust1">
            <li role="presentation"><a role="menuitem" href="{% url 'user_auth_namespace:change_password_url' %}">Change Password</a></li>
            <li class="divider"></li>
            {% if is_admin  %}
            <li><a href="/admin/">Admin</a></li> 
            {% endif %}
          </ul>
        </li>            
          
        <li><a href="{% url "user_auth_namespace:logout_url" %}">Logout</a></li>   
        
      </ul>

            {% endif %}

    </div>
  </div>

  <!-- Page content -->
  <div class="col-xs-12 col-md-10 col-md-offset-2 content">
    <div class="container-fluid">
      {% block content %} 
    
      {% endblock %}
    </div>

  </div>

</div>


</div>

{% block javascript  %}

{% endblock  %}

  </body>
</html>
