<html>
    <body>
        <h1><u></u></h1>

        <!-- this is a Injection code from python, comes from app1.views.py-->
        <header>
            <h1>{{title_text}}</h1>
            <nav>
                <ul>
                    <li><a href="accessRecordsList/">Access records</a></li>
                    <li><a href="websiteList/">Website List</a></li>
                    <li><a href="topicList/">Topic List</a></li>
                    <li><a href="userList/">User List</a></li>
                </ul>
            </nav>
        </header>    
    </body>
    
</html>
