
.div_but_normal{
    border: 1px;
    background-color: rgb(19, 53, 97);
    color: white ;
}

.div_but_over{
    border: 1px;
    background-color: rgb(116, 165, 230);
    color: white ;
}

.div_but_cancel_normal{
    border: 1px;
    background-color: rgb(158, 19, 19);
    color: white ;
}

.div_but_cancel_over{
    border: 1px;
    background-color: rgb(252, 135, 135);
    color: white ;
}

.div_array_bg{
    background-color: rgb(100, 72, 35);
}